.tree-wrappper {
  min-height: 500px;
  overflow-y: scroll;
  border-top: 1px solid #e0e0e0;
  padding-top: 8px;
}
.ant-layout-sider {
  height: inherit !important;
  max-height: 100% !important;
  .container-title {
    height: 24px;
  }
}
